footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  background-color:  #616161;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.tothetop div .button-container p a {
  display: flex;
  align-items: center; 
  border-radius: 0px;
  width: fit-content;
  background-color: black;
  color: white;
  gap: 3px;
  text-decoration: none; 
  padding: 5px 10px; 
}

.tothetop div .button-container p a .icon-uparrow img {
  width: 19px;
  height: auto;
}

.tothetop div .button-container p a .text {
  font-size: 14px; 
}
.default-content-wrapper p {
  color: white;
}

.default-content-wrapper p a {
  color: white;
  text-decoration: underline;
}

.two-columns-wrapper {
  display: flex;
  gap: 20px; /* space between columns */
 }
 .left-column {
  flex: 2; /* wider left column */
  display: flex;
  flex-direction: column;
  gap: 15px; /* spacing between minicards */
 }
 .right-column {
  flex: 1; /* narrower right column */
  display: flex;
  flex-direction: column;
  gap: 15px; /* spacing between sidebar blocks */
 }

